@import "components/Header/header.css";
@import "components/NavBar/navBar.css";
@import "components/Card/card.css";
@import "components/FavButton/favButton.css";
@import "components/Title/title.css";
@import "views/SearchList/searchList.css";
/* GLOBAL CSS*/
body, html {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

main {
  max-width: 1000px;
  margin: auto;
}

.text-xxl {
  font-size: 40px;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex !important;
}